h1 {
    text-align: center;
}

p {
    text-align: justify;
    font-size: large;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    
}

.sat {
    display: flex;
    justify-content: center;
}

.arbol {
    display: flex;
    justify-content: center;
}

.txt {
    margin-right: 10px;
}

img {
    float: right;
}

div a {
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    background: black;
    text-align: right;
    float: left; 
    display: block;
}


div > ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav > li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav > li a:hover {
    background-color:#434343;
}

.nav > li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav > li:hover > ul {
    display:block;
}

.nav > li ul li {
    position:relative;
}

.nav > li ul li ul {
    right:-140px;
    top:0px;
}